.ranking__podium {
  min-height: 220px;
}

.ranking__position {
  font-size: 3rem;
}

.ranking__first {
  border-color: var(--gold);
  background-color: var(--gold-subtle);
}

.ranking__second {
  border-color: var(--silver);
  background-color: var(--silver-subtle);
}

.ranking__third {
  border-color: var(--bronze);
  background-color: var(--bronze-subtle);
}

.ranking__user {
  font-size: 1.1rem;
}

.ranking__time {
  color: var(--text-muted);
}

.ranking__chart {
  height: 470px;
}