@use "bootstrap/scss/bootstrap" with (
  $body-bg: #0F0C16,
  $body-color: #FFFFFF,

  $primary: #7C3AED,
  $secondary: #2A243F,
  $success: #10B981,
  $info: #0EA5E9,
  $warning: #F97316,
  $danger: #EC4899,

  $text-muted: #8B8A9D,

  $border-radius: 1rem,
  $border-radius-pill: 50rem
);

:root {
  --primary: #7C3AED;
  --primary-subtle: color-mix(in srgb, var(--primary) 20%, transparent);
  --secondary: #2A243F;
  --success: #10B981;
  --info: #0EA5E9;
  --warning: #F97316;
  --danger: #EC4899;
  --text-muted: #8B8A9D;
  --body-bg: #0F0C16;
  --body-color: #FFFFFF;
  --gold: #F59E0B;
  --gold-subtle: color-mix(
    in srgb,
    var(--gold) 15%,
    transparent
  );
  --silver: #9CA3AF;
  --silver-subtle: color-mix(
    in srgb,
    var(--silver) 15%,
    transparent
  );
  --bronze: #B45309;
  --bronze-subtle: color-mix(
    in srgb,
    var(--bronze) 15%,
    transparent
  );
}

.app-card {
  background-color: var(--primary-subtle);
  border: 1px solid var(--primary);
}